.hash-image {
  &-parent {
    display: block;
    position: relative;
    z-index: 2;
    flex-shrink: 0;
  }

  transition: .2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  width: 100%;
  height: 100%;

  &--loaded {
    opacity: 1;
    visibility: visible;
  }

  &-picture {
    display: block;
    position: relative;
    width: fit-content;
    height: 100%;
    width: 100%;
  }

  &-placeholder {
    position: absolute !important;
    top: 0;
    left: 0;

    &--loaded {
      opacity: 0;
      visibility: hidden;
    }
  }
}